<div class="MemberWalletHeader">
        <button type="button" class=" btn--clear">see all offers</button>
</div>
<div class="row">
<div class="col l-4">
        <nav class="breadcrumb  bor-bottom pad--20">
                <ul>
                        <li><a href=""> Women</a></li>
                        <span class="text_s--14 ">/</span>
                        <li><a href="">New Arrivals</a></li>
                </ul>
        </nav>1
        <div class="filter">
                <ul class="filter-tab-list">
                        <h3 class="bor-bottom">BROWSE BY:</h3>     
                        <li class="more">
                        <div class="row_flex">
                        <h3 class="text_w--300 accordion-label">Category</h3>
                        <div>  
                        <span class="plus">+</span>
                        <span class="minus">–</span>
                        </div>                             
                        </div>                                
                        </li>
                        <ul class="accordion-panel-content">
                                        <li class="text_s--14 title-content">All New Arrivals</li>
                                        <li class="text_s--14 ">
                                                <a href="" >Work Your Way</a>
                                        </li>
                                        <li class="text_s--14 ">
                                                <a href="">Silky Sueded Jersey</a>
                                        </li>
                                        <li class="text_s--14 ">
                                                <a href="">The Vacation Edit  </a>
                                        </li>
                                        <li class="text_s--14 ">
                                                <a href="">Matching Sets</a>
                                        </li>
                                        <li class="text_s--14 ">
                                                <a href="">Mother's Day Gifts</a>
                                        </li>
                                        <li class="text_s--14 ">
                                                <a href="">Spring Whites</a>
                                        </li>
                        </ul>                                                                                                
                        <h3 class="bor-bottom">filter by:</h3>
                        <li class="more">
                                <div class="row_flex">
                                <h3 class="text_w--300 accordion-label">Category</h3>
                                <div>  
                                <span class="plus">+</span>
                                <span class="minus">–</span>
                                </div>
                                </div>                              
                        </li>
                        <ul class="accordion-panel-content">
                                <li class="text_s--14 title-content">All New Arrivals</li>
                                <li class="text_s--14  row_flex">
                                        <div class="checkbox ">
                                        <input type="checkbox" class="checkbox-input" >
                                        </div>
                                        <label for="">Accessories</label>
                                </li>
                                <li class="text_s--14  row_flex">
                                        <div class="checkbox">
                                        <input type="checkbox" class="checkbox-input">
                                        </div>
                                        <label for="">Bottoms</label>
                                </li>
                                <li class="text_s--14  row_flex">
                                        <div class="checkbox">
                                        <input type="checkbox" class="checkbox-input">
                                        </div>
                                        <label for="">Dresses & Jumpsuits</label>
                                </li>
                                <li class="text_s--14  row_flex">
                                        <div class="checkbox">
                                        <input type="checkbox" class="checkbox-input">
                                        </div>
                                        <label for="">Jewelry</label>
                                </li>
                                <li class="text_s--14  row_flex">
                                        <div class="checkbox">
                                        <input type="checkbox" class="checkbox-input">
                                        </div>
                                        <label for="">Tops</label>
                                </li>
                                <li class="text_s--14  row_flex">
                                        <div class="checkbox">
                                        <input type="checkbox" class="checkbox-input">
                                        </div>
                                        <label for="">Spring Whites</label>
                                </li>
                        </ul> 
                        <li class="more">
                                <div class="row_flex">
                                <h3 class="text_w--300 accordion-label">color</h3>
                                <div>  
                                <span class="plus">+</span>
                                <span class="minus">–</span>
                                </div>
                                </div>                             
                        </li>
                        <ul class="accordion-panel-content">
                                <li class="text_s--14  row_flex ">  
                                        <div class="row_flex col l-4">
                                        <div class="checkbox checkbox-bor">
                                        <div type="checkbox" class="checkbox-input" name="checkbox-color" style="background-color: black;"></div>                 
                                        </div> 
                                        <label for="">Black</label>
                                        </div>
                                        <div class="row_flex col l-4">
                                        <div class="checkbox checkbox-bor">
                                        <div type="checkbox" class="checkbox-input" name="checkbox-color" style="background-color: white;"></div>                 
                                        </div>  
                                        <label for="">White</label>                                                   
                                        </div> 
                                        <div class="row_flex col l-4">
                                        <div class="checkbox checkbox-bor">
                                        <div type="checkbox" class="checkbox-input" name="checkbox-color" style="background-color: blue;"></div>                 
                                        </div>  
                                        <label for="">Blue</label>
                                        </div>
                                </li>
                                <li class="text_s--14 row_flex ">
                                        <div class="row_flex col l-4">
                                        <div class="checkbox checkbox-bor">
                                        <div type="checkbox" class="checkbox-input" name="checkbox-color" style="background-color: pink;"></div>                 
                                        </div>  
                                        <label for="">Pink</label>
                                        </div>
                                        <div class="row_flex col l-4">
                                        <div class="checkbox checkbox-bor">
                                        <div type="checkbox" class="checkbox-input" name="checkbox-color" style="background-color: brown;"></div>                 
                                        </div>  
                                        <label for="">Brown</label>                                                 
                                        </div> 
                                        <div class="row_flex col l-4">
                                        <div class="checkbox checkbox-bor">
                                        <div type="checkbox" class="checkbox-input" name="checkbox-color" style="background-color: yellow;"></div>                 
                                        </div>  
                                        <label for="">Yellow</label>
                                        </div>                                         
                                </li>
                                 <li class="text_s--14 row_flex ">
                                        <div class="row_flex col l-4">
                                        <div class="checkbox checkbox-bor">
                                        <div type="checkbox" class="checkbox-input" name="checkbox-color" style="background-color: gray;"></div>                 
                                        </div>  
                                        <label for="">Gray</label>
                                        </div>
                                        <div class="row_flex col l-4">
                                        <div class="checkbox checkbox-bor">
                                        <div type="checkbox" class="checkbox-input" name="checkbox-color" style="background-color: green;"></div>                 
                                        </div>  
                                        <label for="">Green</label>                                                 
                                        </div> 
                                        <div class="row_flex col l-4">
                                        <div class="checkbox checkbox-bor">
                                        <div type="checkbox" class="checkbox-input" name="checkbox-color" style="background-color: red;"></div>                 
                                        </div>  
                                        <label for="">Red</label>
                                        </div>                                        
                                </li>
                                <li class="text_s--14 row_flex ">
                                        <div class="row_flex col l-4">
                                         <div class="checkbox checkbox-bor">
                                        <div type="checkbox" class="checkbox-input" name="checkbox-color" style="background-color: orange;"></div>                 
                                        </div>  
                                        <label for="">Orange</label>
                                        </div>
                                        <div class="row_flex col l-4">
                                        <div class="checkbox checkbox-bor">
                                        <div type="checkbox" class="checkbox-input" name="checkbox-color" style="background-color: gold;"></div>                 
                                        </div>  
                                        <label for="">Gold</label>                                                
                                        </div> 
                                        <div class="row_flex col l-4">
                                         <div class="checkbox checkbox-bor">
                                        <div type="checkbox" class="checkbox-input" name="checkbox-color" style="background-color: #C0C0C0;"></div>                 
                                        </div>  
                                        <label for="">Sliver</label>
                                        </div>                                        
                                </li>                                                                          
                                 <li class="text_s--14 row_flex ">
                                        <div class="row_flex col l-4">
                                         <div class="checkbox checkbox-bor">
                                        <div type="checkbox" class="checkbox-input" name="checkbox-color" style="background-color: purple;"></div>                 
                                        </div>  
                                        <label for="">Purple</label>
                                        </div>
                                        <div class="row_flex col l-4">
                                        <div class="checkbox checkbox-bor">
                                        <div type="checkbox" class="checkbox-input" name="checkbox-color" style="background-color: #fff;"></div>                 
                                        </div>  
                                        <label for="">Default</label>                                                
                                        </div> 
                                        <div class="row_flex col l-4">
                                         <div class="checkbox checkbox-bor">
                                        <div type="checkbox" class="checkbox-input" name="checkbox-color" style="background-color: #ffff;"></div>                 
                                        </div>  
                                        <label for="">Multi</label>
                                        </div>                                        
                                </li>                                                          
                        </ul>  
                        <li class="more">
                                <div class="row_flex">
                                <h3 class="text_w--300 accordion-label">size</h3>
                                <div>  
                                <span class="plus">+</span>
                                <span class="minus">–</span>
                                </div>
                                </div>                                
                        </li>
                        <ul class="accordion-panel-content">
                                <li class="text_s--14">
                                <div class="MegaMenu_nav__1vWhM ravenDesktopNav">
                                        <ol class="header-bot__nav-list">          
                                        <li  class="header-bot__nav-list-item">
                                                <button class="MegaMenu_primaryNav nav-item" value="regular">REGULAR</button>                
                                        </li>
                                        <li  class="header-bot__nav-list-item ">
                                                <button class="MegaMenu_primaryNav nav-item" value="petite">PETITE</button>           
                                        </li>
                                        <li  class="header-bot__nav-list-item ">
                                                <button class="MegaMenu_primaryNav nav-item" value="short">SHORT</button>         
                                        </li>
                                        <li  class="header-bot__nav-list-item ">
                                                <button class="MegaMenu_primaryNav nav-item" value="long">LONG</button>              
                                        </li>                                      
                                        </ol>        
                                </div>  
                                <div class="sizeProduct bor-bottom">
                                        <div class="row_flex ">
                                                <div>XXS</div>
                                                <div>XS</div>
                                                <div>XS/S</div>
                                                <div>S</div>
                                                <div>S/M</div>
                                        </div>
                                        <div class="row_flex pad-bot--20">
                                                <div>M</div>
                                                <div>M/L</div>
                                                <div>L</div>
                                                <div>L/XL</div>
                                                <div>XL</div>
                                        </div>
                                </div>
                                <div class="sizeProduct pad-bot--20">
                                        <span>NO SIZE</span>
                                </div>
                                </li>
                        </ul> 
                        <li class="more">
                                <div class="row_flex">
                                <h3 class="text_w--300 accordion-label">price</h3>
                                <div>  
                                <span class="plus">+</span>
                                <span class="minus">–</span>
                                </div>
                                </div>                                
                        </li>
                            <ul class="accordion-panel-content">
                                <li class="text_s--14  row_flex">
                                        <div class="checkbox ">
                                        <input type="checkbox" class="checkbox-input" >
                                        </div>
                                        <label for="">0.00-29.99</label>
                                </li>
                                <li class="text_s--14  row_flex">
                                        <div class="checkbox">
                                        <input type="checkbox" class="checkbox-input">
                                        </div>
                                        <label for="">30.00-59.99</label>
                                </li>
                                <li class="text_s--14  row_flex">
                                        <div class="checkbox">
                                        <input type="checkbox" class="checkbox-input">
                                        </div>
                                        <label for="">60.00-89.99</label>
                                </li>
                                <li class="text_s--14  row_flex">
                                        <div class="checkbox">
                                        <input type="checkbox" class="checkbox-input">
                                        </div>
                                        <label for="">90.00-119.99</label>
                                </li>
                                <li class="text_s--14  row_flex">
                                        <div class="checkbox">
                                        <input type="checkbox" class="checkbox-input">
                                        </div>
                                        <label for="">120.00-149.99</label>
                                </li>
                                <li class="text_s--14  row_flex">
                                        <div class="checkbox">
                                        <input type="checkbox" class="checkbox-input">
                                        </div>
                                        <label for="">150.00-179.99</label>
                                </li>
                        </ul>                                                                                         
                </ul>
        </div>            
</div>
<div class="col l-8">
        <div class="row title__products pad--20">
                 <h2>Women's new arrivals</h2>
                <div class="select_option">
                <label for="" class="text_s--14" style="align-self: center">Sort By:</label>
                <select name="" id="">
                        <option value="" class="text_s--14">Relevance</option>
                        <option value="" class="text_s--14">Price Low to High</option>
                        <option value="" class="text_s--14">Price High to Low</option>
                        <option value="" class="text_s--14">New Arrivals</option>
                </select>
                </div>
        </div>
        <div class="row">
                {{#each new_arrivals}}
                <div class="card__product col l-4 pad-bot--20 ">
                        <a href="/new_arrivals/{{this.slug}}">
                                <img src="{{this.img}}" class="card-img-top" alt="{{this.name}}">
                        </a>
                        <div class="card__product--body">
                        <a href="/new_arrivals/{{this.slug}}">
                                <h4 class="card__product--status">{{this.status}}</h4>
                                <h4 class="card__product--title">{{this.name}}</h4>  
                        </a>    
                        <p class="card__product--text">{{this.description}}</p>
                        <h4><span>{{this.cost_last}}</span> {{this.cost_new}}</h4>                                                  
                        <a href="#" class="btn btn--clear">BumBum View</a>
                        </div>
                </div>
                {{/each}}
        </div>
</div>      
</div>




